@import "../../scss/colors";
@import "../../scss/mixins";

.tab-content {
  @include flex-row-center;
  position: relative;
  min-height: 320px;
  margin: 0 auto;
  padding: 53px 14px;

  @media (min-width: $tablet-width) {
    padding: 57px 44px;
    min-height: 380px;
  }

  @media (min-width: $desktop-width) {
    min-height: 410px;
    padding: 55px 70px;
  }
}

.tab-content__button {
  @include button;
  font-size: 15px;
  min-width: 100%;

  @media (min-width: $tablet-width) {
    padding: 12px 31px;
    min-width: auto;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    max-width: 198px;
    min-width: auto;
    padding: 13px 30px;
  }
}

.tab-content__title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin-bottom: 18px;
  color: $color-service;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    font-size: 22px;
    line-height: 30px;
  }
}

.tab-content__desc {
  display: block;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  padding-top: 10px;
}

.tab-content__left {
  z-index: 10;
  margin-right: auto;
  max-width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 355px;
  }

  @media (min-width: $desktop-width) {
    max-width: 40%;
    margin-bottom: 10px;
  }
}

.tab-content__right {
  position: absolute;
  right: 0;
  bottom: 60px;
  z-index: 1;

  @media (max-width: $mobile-width-only) {
    position: absolute;
    right: 0;
    top: 25%;
  }

  @media (min-width: $tablet-width) {
    right: 45px;
    bottom: 55px;
    max-width: 37%;
  }

  @media (min-width: $desktop-width) {
    right: 135px;
    bottom: 60px;
    max-width: 40%;
  }
}

.tab-content__img {
  width: auto;
  object-fit: cover;

  @media (max-width: $mobile-width-only) {
    object-position: 50%;
    height: 113px;
    width: 87px;
  }

  @media (min-width: $tablet-width) {
    object-position: 96%;
    height: 260px;
  }

  @media (min-width: $desktop-width) {
    object-position: 100%;
    height: 100%;
  }
}

.tab-content__list {
  display: flex;
  flex-direction: column;
  list-style: none;

  @media (max-width: $mobile-width-only) {
    max-width: 80%;
    margin-bottom: 17px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.tab-content__item {
  display: flex;
  position: relative;
  flex-direction: column;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 16px;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
  }

  &:before {
    content: '\2304';
    position: absolute;
    top: 2px;
    left: 0;
    font-size: 20px;
    color: $color-service;
  }
}
