@import "../../scss/colors";
@import "../../scss/const-width";
@import "../../scss/mixins";

.menu {
  @include flex-row-center;
  max-width: 735px;
  min-width: 135px;
  flex-direction: column;

  @media (max-width: $mobile-width-only) {
    justify-content: flex-start;
    flex-wrap: nowrap;
    max-width: 100%;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
    padding-left: 50px;
  }

  &--column {
    flex-direction: column;
    flex-wrap: nowrap;
    font-weight: 500;
    max-width: 195px;
  }

  &--column .menu__item {
    padding: 5px 0;

    @media (min-width: $tablet-width) {
      padding: 5px 3px;
    }

    @media (min-width: $desktop-width) {
      padding: 5px 14px;
    }
  }

  &--column .menu__item--only-footer {
    display: flex;
  }

  &--column .menu__item--only-header {
    display: none;
  }
}

.menu__item--only-footer {
  display: none;
}

.menu__item {
  padding: 10px 12.5px;

  @media (max-width: $tablet-width-only) {
    font-size: 14px;
    padding: 10px;
  }

  @media (min-width: $tablet-width) {
    &:first-child {
      margin-left: 0;
    }
  }
}

.menu__link {
  text-decoration: none;
  color: $color-service;

  &--active {
    color: $color-main;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}
