.burger {
  cursor: pointer;
  border: none;
  right: 30px;
  top: 28px;
  background-color: transparent;

  background-image: url("./burger.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 20px;
  width: 20px;
  background-size: contain;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
