.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  background: rgba($color-service, 0.7);
}

.modal {
  position: relative;
  z-index: 70;
  width: fit-content;
  margin: 10% auto;
}
