@import "../../scss/colors";
@import "../../scss/const-width";

.slider {
  width: 100%;
  position: relative;
  margin: 0 auto;
  background-color: deeppink;

  @media (min-width: $tablet-width) {
    max-width: 100%;
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-width;
  }
}

.slider__img {
  align-items: center;
}
